.password-btn {
    position: absolute;
    right: 0;
    width: 50px;
    background: none;
    transition: none;
}
.password-btn:hover {
    border: none;
    color: var(--accent-2);
}
.input-w-btn {
    position: relative;
    display: flex;
    place-items: center;
}

.input-w-btn input {
    width: 100%;
}