:root {
  --bg: #121212ff;
  --bg-accent: #303030ff;
  --accent-1: #4c83f5;
  --accent-2: #ffe4a8;
  --accent-4: #ff6637;
  --accent-3: #ffb300;
  --text: #ffffffff;
  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);
  font-family: "Roboto", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  margin: auto;
  padding: 20px;
  max-width: 900px;
}

h1, .cursive-font {
  font-family: "Playwrite DE LA", cursive;
  padding: 0;
}

h2 {
  color: var(--accent-2);
  margin: 15px 0 5px;
  text-transform: uppercase;
}

h3 {
  color: var(--mui-palette-primary-light);
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  margin: 20px 0 10px;
  text-transform: uppercase;
  color: var(--accent-1)
}

a {
  color: var(--accent-4);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editable-detail {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-end;
}

.multiselect label {
  position: absolute;
  top: -20px;
}

.multiselect select {
  width: 100%;
  font-size: medium;
  background: none;
  border: none;
  height: 300px;
}
.multiselect select:disabled {
  height: auto;
}
.multiselect select option:checked {
  background: none;
  font-weight: bolder;
  color: var(--accent-3)
}
.multiselect select:disabled option:not(:checked) {
  display: none;
}
 .multiselect {
  align-items: flex-start;
  position: relative;
  top: 20px;
}
.multiline {
  align-items: flex-start;
}

.multiline .edit-btn {
  margin-top: 12px;
}

.editable {
  align-items: center;
}

.tiptap {
  min-height: 100px;
}




@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffffff;
    --bg-accent: #fceadeff;
    --accent-4: #fc2d53ff;
    --textcolor: #101010ff;
  }
}
