:root {
  --bg: #121212ff;
  --bg-accent: #303030ff;
  --layout: #4c83f5;
  --accent-1: #fb0e39ff;
  --accent-2: #ffb300;
  --text: #ffffffff;
  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);
  font-family: "Roboto", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: "Playwrite DE LA", cursive;
}

h2 {
  color: var(--layout);
  /*font-weight: 300;*/
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

a {
  color: var(--accent-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editable-detail {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-end;
}
.multiselect label {
  position: absolute;
  top: -20px;
}
.multiselect select {
  width: 100%;
  font-size: medium;
  background: none;
  border: none;
  height: 300px;
}
.multiselect select:disabled {
  height: auto;
}
.multiselect select option:checked {
  background: none;
  font-weight: bolder;
  color: var(--accent-2)
}
.multiselect select:disabled option:not(:checked) {
  display: none;
}
 .multiselect {
  align-items: flex-start;
  position: relative;
  top: 20px;
}
.multiline {
  align-items: flex-start;
}

.multiline button {
  margin-top: 12px;
}

.editable {
  align-items: center;
}

main {
  margin: 20px;
}



@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffffff;
    --bg-accent: #fceadeff;
    --accent-1: #fc2d53ff;
    --textcolor: #101010ff;
  }
}
